<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts - Postify</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
</head>
   {% block content %}

   <body>
    <h2>All Posts</h2>
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td data-label="Usuario">{{ post.user }}</td>
                    <td data-label="Título">{{ post.title }}</td>
                    <td data-label="Descripción">{{ post.description }}</td>
                    <td data-label="Fecha">{{ post.created_at }}</td>
                    <td class="image" data-label="Imagen">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="Imagen {{ post.username }}" />
                        {% else %}
                            No image uploaded.
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-info btn-sm mx-1">Detalles</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No hay posts aún.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button type="button" onclick="window.location.href='{% url 'posts' %}'">Back</button>
</body>
</html>
{% endblock %}