<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail - Postify</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="container">
            <h1>{{ post.title }}</h1>
            <p><strong>Usuario:</strong> {{ post.user }}</p>
            <p><strong>Descripción:</strong> {{ post.description }}</p>
            <p><strong>Fecha de creación:</strong> {{ post.created_at }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Imagen {{ post.title }}"/>
            {% else %}
                <p>No hay imagen disponible.</p>
            {% endif %}
            
            <div class="comments-section">
                <h2>Comentarios</h2>

            <!-- Tabla de comentarios -->
            <table class="comments-table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Comentario</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td>{{ comment.user.username }}</td>
                            <td>{{ comment.text }}</td>
                            <td>{{ comment.created_at|date:"d/m H:i" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No hay comentarios aún.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <!-- Contenedor para los botones -->
                <div class="button-container">
                    <button type="button" onclick="window.location.href='{% url 'posts' %}'">Volver</button>
                    <button type="submit">Enviar</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>

</html>